@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:ital,wght@0,200;0,400;0,700;1,200&display=swap');
/*
  font-family: 'Patrick Hand', cursive;
  font-family: 'Poppins', sans-serif;
*/

/* HEADER */
nav{
  height: 6rem;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 60;
}

.logo{
  height: 2.5rem;
}

.middle{
  margin-top: auto;
  margin-bottom: auto;
}

.navbar{
  margin-left: auto;
}

.navbar a{
  padding: 0 0.6rem;
  justify-content: end;
  text-decoration: none;
  color: #302A24;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
}

/* GENERAL */
.main{
  min-height: 73vh ;
}

p{
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: 'Patrick Hand', cursive;
}

h1{
  font-size: 6rem;
}

.flex{
  display: flex;
}

.spaceEvenly{
  justify-content: space-evenly;
}

.smallTitle{
  text-align: center;
  text-decoration: none !important;
  color: #302A24;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}
a{
  text-decoration: none !important;
}

.padBottom{
  margin-bottom: 3rem;
}

/* BANNER */
.banner{
  height: 31rem;
  overflow: hidden;
  position: relative;
}

.banner .background{
  width: 100%;
  position: absolute;
}

.banner .title{
  position: absolute;
  z-index: 50;
  margin-top: 12%;
  margin-left: 5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ffffff;
}
.logoBanner{
  width: 15rem !important;
  position: absolute;
  z-index: 50;
  margin-top: 4%;
  margin-left: 15rem;
}

.white{
  color: white;
  text-shadow: none !important;
}

/* HOME */
.titleHome{
  font-size: 3em;
  text-transform: uppercase;
}

.padTop{
  margin-top: 2rem;
}

.BigDescription{
  width: 38rem;
}

img.SmallDescription.services {
  width: 17rem;
}


/* QUIENES SOSMOS */
.float{
  float: left;
  margin: 1rem 2rem 2rem 3rem;
}

.quienesSomos p{
  font-size: 1.2em;
}

.quienesSomos h3{
  font-size: 3rem;
  text-transform: capitalize;
}

.quienesSomos h4{
  font-size: 1.8em;
  font-weight: bold;
}



/* CONTACTOS */

.contactos{
  background-image: url('./assets/contacts.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.contactos .icon{
  padding-left: 1rem;
  color: #249795;
}

.contactos .icon:hover{
  color: rgb(9, 82, 82);
}

.contactos h3{
  padding-top: 12rem;
  font-size: 4em;
}

.contactos .center{
  margin-right: auto;
  margin-left: auto;
  display: table;
  margin-top: 1rem;
}


/* EDUCACION */
.educacion .list{
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}

.educacion h5{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.education li::before{
  color: #249795;
}



/* FOOTER */
footer{
  height: 6.5rem;
  background-color: #514941;
  color: #C2ECEB;
  justify-content: space-between;
  display: flex;
}
.FCol{
  width: 33%;
  margin-top: auto;
  margin-bottom: auto;
}

.logoF{
  height: 2.5rem;
  padding-left: 2rem;
}

footer p{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.9em;
}

footer .icon{
  padding-left: 1rem;
  color: #C2ECEB;
}

footer .icon:hover{
  color: rgb(42, 202, 202);
}

footer .end{
  text-align: end !important;
  padding-right: 2rem;
}


/* BIOCOSMETICA */
.biocosmetica .smallercont{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.biocosmetica .links{
  margin-left: auto;
  margin-right: auto;
  display: table;
}

a.biocosmeticaLink {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #009d9c;
  font-weight: 700;
}

.biocosmetica h3{
  padding-left: 2rem;
  font-size: 2.7rem;
}

.pastadental button {
  background-color: #009d9c;
  border: 0px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pastadental a{
  color: white;
  font-weight: 700;
  padding: 1.5rem;
}

/* Product cards */
.card {
  width: 26rem;
  background-color: #ffffff;
  min-height: 15rem;
  margin: 0.7rem;
  border-color: #ffffff;
  box-shadow: 10px 10px 29px 0px rgba(165,178,183,0.75);
  -webkit-box-shadow: 10px 10px 29px 0px rgba(165,178,183,0.75);
  -moz-box-shadow: 10px 10px 29px 0px rgba(165,178,183,0.75);
  border-radius: 10px;
}

.card h5{
  font-size: 2rem;
  margin-top: 0.1rem;
  text-transform: capitalize;
}

.cardCont {
  display: inline-flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
}

.innerPadCard{
  padding: 1.3rem;
}

/* cards Arcillas */
.arcilla h5{
  color: #009d9c;
  font-weight: 700;
  width: 10rem;
}

.arcilla .contTwo p{
  width: 50%;
}

.contTwo{
  margin-left: 20%;
  margin-right: auto;
}

/* Cards Aceites */
.cardTwo {
  width: 32rem;
  background-color: #ffffff;
  min-height: 15rem;
  margin: 0.7rem;
  border-color: #ffffff;
  box-shadow: 10px 10px 29px 0px rgba(165,178,183,0.75);
  -webkit-box-shadow: 10px 10px 29px 0px rgba(165,178,183,0.75);
  -moz-box-shadow: 10px 10px 29px 0px rgba(165,178,183,0.75);
  border-radius: 10px;
}

.pad-right {
  margin-right: 1rem;
}


.infusiones h4{
  font-size: 2rem;
}

.infusiones .c{
  text-align: center;
}


/* Aromaterapia */

.detailpad{
  padding: 1rem 0;
}

.aromaterapia ul.list {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  font-weight: 600;
}

.aromaterapia .blossom{
  /* background: url('./assets/libullets.png') no-repeat left top; */
  padding-top: 0.5rem;
  margin-top: 1rem;
}
.aromaterapia .blossom li::before {
  content:  url('./assets/libullets.png');
  display: inline-block;
  background-image: url();
  vertical-align: middle !important;
  margin-right: 0.5rem;
}